/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */
/* YOU MUST CALL FONTAWESOME IN ORDER FOR THIS TO WORK! http://fortawesome.github.io/Font-Awesome/get-started/ */

/* =Social Media Buttons
----------------------------------------------- */

#social-media  ul {
    margin-bottom: 0px !important;
	margin-left: auto;
	margin-right: auto;
}

#social-media  ul li {
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
}

#social-media {
    display: block;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
	font-size: 32px;
	text-align: center;
}

#social-media  .fa  {

	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

#social-media  .fa:hover {
	text-shadow: 0px 0px 50px #888888;
}

/* Service specific colorings */

#social-media  .fa-google-plus:hover {
	color: #db4936;
}

#social-media  .fa-facebook:hover {
	color: #607db7;
}

#social-media  .fa-twitter:hover {
	color: #00aced;
}

#social-media  .fa-linkedin:hover {
	color: #016088;
}

#social-media  .fa-stumbleupon:hover {
	color: #ee4316;
}

#social-media  .fa-delicious:hover {
	color: #abb3cc;
}

#social-media  .fa-digg:hover {
	color: #4e7da9;
}

#social-media  .fa-reddit:hover {
	color: #f0490d;
}